.cartItem{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
}
.cartItem >img{
    width:100px;
    height: 100px;
    object-fit :contain;
    margin: 0 20px;
    margin-top:18px;
}
.cartItem__description{
    justify-content:center;
    margin-top:auto;
    margin-bottom:auto;
}
.cartItem__description>button{
    background:#f0c14b;
    border:1px solid ;
    margin-top:10px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
}